# dependencies
node_modules/
package-lock.json

# build output
build/
dist/
*.log

# environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
